body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/images/bakery-patterns.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.container {
  width: 650px;
  height: 650px;
  margin: 100px;
  padding: 0 10px;
  text-align: center;
  border-radius: 10px;
  background: white;
}

.icon {
  width: 70px;
  height: 70px;
  position: relative;
  top: 15px;
}

h1 {
  font-size: 60px;
  margin-top: 30px;
}

p {
  font-size: 16px;
  margin: 20px 5px;
}

.links {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

a {
  font-size: 18px;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 10px;
  background: #ffebbb;
  color: black;
  box-shadow: 5px 5px 5px 1px gray;
  font-weight: bold;
  margin: 0 5px;
  width: 100px;
}

a:hover {
  background: #febe7e;
}

@media (max-width: 700px) {
  .links {
    flex-direction: column;
  }
  a {
    margin: auto;
  }
  h1 {
    font-size: 33px;
  }
  .icon {
    display: none;
  }

  .container {
    margin: 50px;
  }
}

.croissant-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  max-width: 350px;
  height: auto;
  border-radius: 15px;
  border: 5px solid #f2f2f2;
}
